name: "aws-okta"
arch: "amd64"
platform: "linux"
version: "${VERSION}"
section: "default"
priority: "extra"
provides:
- aws-okta
vendor: 'Segment, Inc.'
maintainer: tooling-team@segment.com
homepage: "https://github.com/segmentio/aws-okta"
license: "MIT"
# IMHO packages should install to /usr/bin
bindir: /usr/bin
files:
  "${DIST_BIN}": "/usr/bin/aws-okta"
description: >
  aws-okta allows you to authenticate with AWS using your Okta credentials.
