<html>
    <body>
        <iframe id="duo_iframe" width="620" height="330" frameborder="0"></iframe>
        <form method="POST" id="duo_form">
            <input type="hidden" name="stateToken" value='{{ .StateToken }}' />
        </form>

        <script src="https://segment.okta.com/js/sections/duo/Duo-Web-v2.js"></script>
        <script>
            Duo.init({
                'host': '{{ .Host }}',
                'sig_request': '{{ .Signature }}',
                'post_action': '{{ .Callback }}'
            });
        </script>
    </body>
</html>
